@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas_neue/BebasNeue-Regular.ttf");
}

body {
  font-family: 'Bebas Neue';
  font-size: 30px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-box{
  width: 70%;
  background-color: lavender;
  margin: auto;
  border-radius: 5%;
  text-align: center;
}
@media (max-width: 667px) {
  #main-box {
    width: 90%;
  }
}

.disabled{
  display: none;
}

#cover-image {
}

#name {
  font-size: 4em;
}

#location {
  font-size: 2em;
  color: purple;
}

#date {
}

#time {
}

#description {
}

#summary {
}
