
body {
    background-color: peachpuff;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas_neue/BebasNeue-Regular.ttf");
  }

#cover-image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1.25%;
}

.name {
  text-align: center;
  font-family: 'Bebas Neue';
}

.location {
    text-align: center;
}

.date {
    text-align: center;
}

.time {
    text-align: center;
}

.description {
    text-align: center;
}

.notes {
    text-align: center;
}
